.container {
    display: flex;
    justify-content: space-between; /* ボックスを左右に配置 */
}

/* bbox = big box */
.bbox {
    width: 49%; /* 各divの幅を指定 */
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    box-sizing: border-box; /* パディングを含むボックスの幅を設定 */
    border: 0px solid #ccc; /* 外枠の太さを設定 */
}
.bbox:last-child{
    margin-right: 0;
}

/* mbox= midle box */
.mbox {
    padding-top: 10px;
}

/* sbox= small box */
.sbox {
    width: 49%; /* 各divの幅を指定 */
    margin-right: 10px;
    box-sizing: border-box; /* パディングを含むボックスの幅を設定 */
    border: 1px solid #ccc; /* 外枠の太さを設定 */
}
.sbox:last-child{
    margin-right: 0;
}

/* マルチラベルのドロップボックス */
.custom-dropdown .Select-control {
    min-width: 140px; /* 初期の最小幅を設定 */
    max-width: 100%; /* 最大幅も設定可能 */
}